<div class="row mt-3 pt-3">
    
    <div class="col-md-7">
        
        
        <div class="card card-body">
        <canvas id="myChart2"></canvas>
        
            <script>
                var array1 = {{ array1|safe }}
                var array2 =  {{ array2|safe }};
                var ctx = document.getElementById('myChart2').getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: array1,
                        datasets: [{
                            label: 'Daily deliveries',
                            data: array2,
                            backgroundColor: 'rgb(255, 99, 132)',
                            borderColor: 'rgb(255, 99, 132)',
                            
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            </script>
        </div>
    </div>

    

    
</div>

