<div>
    <table id="table_id" class="display">
        <thead>
            <tr>
                <th>Date</th>
                <th>Products</th>
            </tr>
        </thead>
        <tbody>
            {% for a, b in mylist %}

            <tr>
                <td>{{a}}</td>
                <td>{{b}}</td>
            </tr>
                        
            {% endfor %}
        </tbody>
    </table>
</div>

<script>

    $(document).ready( function () {
        $('#table_id').DataTable({
            "order": [[1, "asc"]],
        });
    } );

</script>