{% extends 'accounts/main.html' %}

{% block content %}

    <br>

    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <h5>Products</h5>
            </div>
            <div class="card card-body">
                <table class="table">
                    <tr>
                        <th>Product</th>
                        <th>Category</th>
                        <th>Price</th>
                    </tr>
                    {% for i in products %}
                        <tr>
                            <td>{{i.name}}</td>
                            <td>{{i.category}}</td>
                            <td>{{i.price}}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <hr>
                <div class="col-md">
                    <div class="card card-body">
                        <h5>Create a new product:</h5>
                        <hr>


                        <form method="POST" action="{% url 'add_product' %}">
                        {% csrf_token %}
                            <div class="form-group mb-3">
                                <label>Product name</label>
                                <input type="text" class="form-control" name="name" placeholder="Enter product name">
                            </div>
                            <div class="form-group mb-3">
                                <label>Category</label>
                                <input type="text" class="form-control" name="category" placeholder="Product Category">
                            </div>
                            <div class="form-group mb-3">
                                <label>Price</label>
                                <input type="text" class="form-control" name="price" placeholder="Product price">
                            </div>

                            <div class="text-center mt-4">

                                <button type="submit" class="btn btn-primary">Submit</button>

                            </div>
                        </form>
                        




                        
                    </div>
                </div>
            </hr>
        </div>
    </div>



{% endblock content%}
