{% extends 'accounts/main.html' %}

{% block content %}






    <br>
    <hr>
                <div class="col-md">
                    <div class="card card-body">
                        <h5>Create a new product:</h5>
                        <hr>


                        
                        {% csrf_token %}
                        <input type="text" value="{{username}}" id="username" hidden="true">
                            <div class="form-group mb-3">
                                <label>Product name</label>
                                <input type="text" class="form-control" name="name" placeholder="Enter product name" id="prod_name">
                            </div>
                            <div class="form-group mb-3">
                                <label>Category</label>
                                <select id="prod_cat" name="category" class="form-control">
                                    <option value="">Select Category</option>
                                    {%for i in products %}
                                        <option id="prod_cat" value="{{i.category}}">
                                            {{i.category}}
                                        </option>
                                    {%endfor %}
                                </select>
                            </div>
                            <div class="form-group mb-3">
                                <label>Price</label>
                                <input type="number" class="form-control" name="price" placeholder="Product price" id="prod_price">
                            </div>

                            <div class="text-center mt-4">

                                <button type="submit" class="btn btn-primary" onclick="create_product()">Submit</button>
                                
                            
                            </div>
                        
                        
                        <br>

                    </div>
                    
                </div>
            </hr>
            <br>
    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <h5>Products</h5>
            </div>
            <div class="card card-body">
                <table class="table">
                    <tr>
                        <th>Creator</th>
                        
                        <th>Product</th>
                        <th>Category</th>
                        <th>Price</th>
                        
                    </tr>
                    
                    {% for i in products %}
                    {% csrf_token %}
                    
                        <tr>
                            <td>{{i.user}}</td>
                            
                            <td>{{i.name}}</td>
                            <td>{{i.category}}</td>
                            <td>{{i.price}}</td>
                            
                        </tr>
                    {% endfor %}
                </table>
            </div>
            
        </div>
    </div>


    

    <script>


        
        function create_product(){
            
            
            var prod_name = document.getElementById('prod_name').value
            var prod_cat = document.getElementById('prod_cat').value
            var prod_price = document.getElementById('prod_price').value
            var username = document.getElementById('username').value
            
            console.log(prod_name + ': ' + prod_cat + ':' + prod_price )
            
            
            $.ajax({
                    // points to the url where your data will be posted
                url: "{% url 'add_products' %}",
                    // post for security reason
                type: "POST",
                    // data that you will like to return
                data: {
                    prod_name:prod_name,
                    prod_cat:prod_cat,
                    prod_price:prod_price,
                    username:username,
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                },
                
                    // what to do when the call is success
                success: function () {
                    Swal.fire(
                    'Good job!',
                    'Product created successfully!',
                    'success'
                    ).then(function () {
                        document.location.href = "{% url 'products' %}";
                    });
                },
                    // what to do when the call is complete ( you can right your clean from code here)
                complete: function () { },
                    // what to do when there is an error
                error: function (xhr, textStatus, thrownError) { 
                    $('#prod_price').attr('style','border:1px solid red');
                }
            });
        }
            function delete_product(id){
        
                
                var prod_id = id
                
                console.log(prod_id )
    
                
                $.ajax({
                        // points to the url where your data will be posted
                    url: "{% url 'delete_products' %}",
                        // post for security reason
                    type: "POST",
                        // data that you will like to return
                    data: {
                        prod_id: prod_id,
                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    },
                    
                        // what to do when the call is success
                    success: function () {
                        Swal.fire(
                        'Good job!',
                        'Product deleted successfully!',
                        'success'
                        ).then(function () {
                            document.location.href = "{% url 'products' %}";
                        });
                    },
                        // what to do when the call is complete ( you can right your clean from code here)
                    complete: function () { },
                        // what to do when there is an error
                    error: function (xhr, textStatus, thrownError) { }
                });
                
        }
        

    </script>

{% endblock content%}