{% extends 'accounts/main.html' %}

{% block content %}

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>




    <br>
    <hr>
                <div class="col-md">
                    <div class="card card-body">
                        <h5>Create a new product:</h5>
                        <hr>


                        <form method="POST" action="{% url 'add_products' %}">
                        {% csrf_token %}
                            <div class="form-group mb-3">
                                <label>Product name</label>
                                <input type="text" class="form-control" name="name" placeholder="Enter product name">
                            </div>
                            <div class="form-group mb-3">
                                <label>Category</label>
                                <input type="text" class="form-control" name="category" placeholder="Product Category">
                            </div>
                            <div class="form-group mb-3">
                                <label>Price</label>
                                <input type="text" class="form-control" name="price" placeholder="Product price">
                            </div>

                            <div class="text-center mt-4">

                                <button type="submit" class="btn btn-primary" id= "sweetalert">Submit</button>
                                
                            
                            </div>
                        </form>
                        
                        <br>

                    </div>
                    <script >
                        Swal.fire(
                                {
                                    title: "Good job", 
                                    text: "You clicked the button!", 
                                    type: "success",
                                    showDenyButton: true,          // In case you want two scenarios 
                                    denyButtonText: 'ABC',
                                    showCancelButton: true,        // In case you want two scenarios 
                                    cancelButtonText:'XYZ'
                                }
                            ).then(function (result) {
                                if (result.isConfirmed) {
                                    //You can add code here if user pressed ok button
                                } else if (result.isDenied) {
                                    //You can add code here if user pressed deny button
                                } else if(result.isDismissed) {
                                    //You can add code here if user pressed cancel button
                                }
                            )
                    </script>
                </div>
            </hr>
            <br>
    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <h5>Products</h5>
            </div>
            <div class="card card-body">
                <table class="table">
                    <tr>
                        <th>Product</th>
                        <th>Category</th>
                        <th>Price</th>
                    </tr>
                    {% for i in products %}
                        <tr>
                            <td>{{i.name}}</td>
                            <td>{{i.category}}</td>
                            <td>{{i.price}}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            
        </div>
    </div>



{% endblock content%}